/* font style 1 */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
/* font style 2 */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=DotGothic16&display=swap');
/* font style 3 */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=DotGothic16&family=Teko&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0d1011;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100px;
    height: 120px;
    background-color: #0d1011;
    /*box-shadow: 2px 2px 20px black;*/
    color: #eab354;
    font-family: 'DotGothic16', sans-serif;
    transition: 0.5s;
}
.logo.sticky {
    background-color: #0d1011;
    height: 70px;
    transition: 0.5s;
}

.topNavBar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #0d1011;
    /*box-shadow: 2px 2px 20px black;*/
    width: 100%;
    height: 120px;
    z-index: 1;
    font-family: 'Teko', sans-serif;
    transition: 0.5s;
}

.topNavBar.sticky {
    background-color: #0d1011;
    opacity: 0.5;
    height: 70px;
    transition: 0.5s;
    color: #eab354;
}

.topNavBar ul {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}
@media screen and (max-width: 769px) {
    .topNavBar ul {
        width: 55%;
    }
}
@media screen and (max-width: 426px) {
    .topNavBar ul {
        width: 60%;
    }
}

.topNavBar ul li {
    list-style-type: none;
}

.topNavBar a {
    color: #e7e4e3;
    font-size: 22px;
    padding: 5px;
    text-decoration: none;
    transition: 0.5s;
}

.topNavBar a:hover {
    color: #eab354;
    transition: 0.5s;
}

.mainContainer {
    font-family: 'Comfortaa', cursive;
    margin-top: 140px;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    /*width: 100%;*/
}

.mainContainer .introSection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    color: #e7e4e3;
    padding-bottom: 100px;
}

.mainContainer .introSection .info {
    padding: 10px 20px;
}

.mainContainer .introSection .section {
    width: 100%;
}

.mainContainer .introSection #greet {
    color: #eab354;
    font-size: 16px;
    margin-bottom: 20px;
}

.mainContainer .introSection #name {
    color: #e7e4e3;
    font-size: 68px;
}

.mainContainer .introSection #say {
    color: #5f787b;
    font-size: 62px;
}

.mainContainer .introSection #par {
    color: #5f787b;
    font-size: 16px;
    max-width: 700px;
    display: flex;
    margin-top: 20px;
}

.aboutMe-section {
    display: flex;
    max-width: 90%;
    /*margin: 0px 50px;*/
    /*align-items: center;*/
    justify-content: center;
}

.aboutMe {
    padding: 150px 20px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    max-width: 700px;
}

.aboutMe .section {
    max-width: 700px;
}

.aboutMe h1 {
    font-size: 2vw;
    margin: 20px 0px;
    color: #e7e4e3;
    width: auto;
}

.aboutMe h1::after {
    position: relative;
    display: block;
    content: '';
    display: block;
    background-color: #eab354;
    max-width: 100%;
    height: 1px;
}

.aboutMe p {
    margin: 0px 20px;
    color: #5f787b;
    max-width: 700px;
}

.aboutMe .info {
    padding: 10px 20px;
    max-width: 700px;
    font-size: 1.2vw;
}

.aboutMe-section .aboutMe .section .container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    max-width: 700px;

}

.container div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px;
    opacity: 0.6;
}

.container img {
    height: 40px;
    width: auto;
    
}

.image-overlay-blur {
    backdrop-filter: blur(4px);
}
.container div .image-overlay {
    position: absolute;
    width: 75px;
    height: 75px;
    font-size: 12px;
    opacity: 0;
    cursor: default;
    transition: 0.5s;
}
.container div .image-overlay p {
    color: #e7e4e3;
    text-shadow: 2px 2px #0d1011;
    font-weight: bold;
}
.container div .image-overlay:hover {
    opacity: 1;
}
.container div .image-overlay > * {
    transform: translateY(20px);
    transition: 0.5s;
}
.container div .image-overlay:hover > * {
    transform: translateY(0px);
}

.container div:nth-child(13) img {
    width: 65px;
    height: auto;
}

.container .box1 {
    background-color: #262b2b;
    border-color: #262b2b;
    width: 75px;
    height: 75px;
    border-style: solid;
    border-left-color: green;
    transition: 0.5s;
}
.container .box2 {
    background-color: #262b2b;
    border-color: #262b2b;
    width: 75px;
    height: 75px;
    border-style: solid;
    border-left-color: green;
    transition: 0.5s;
}
.container .box3 {
    background-color: #262b2b;
    border-color: #262b2b;
    width: 75px;
    height: 75px;
    border-style: solid;
    border-left-color: green;
    transition: 0.5s;
}
.container .box4 {
    background-color: #262b2b;
    border-color: #262b2b;
    width: 75px;
    height: 75px;
    border-style: solid;
    border-left-color: green;
    transition: 0.5s;
}
.container .box5 {
    background-color: #262b2b;
    border-color: #262b2b;
    width: 75px;
    height: 75px;
    border-style: solid;
    border-left-color: red;
    transition: 0.5s;
}
.container .box6 {
    background-color: #262b2b;
    border-color: #262b2b;
    width: 75px;
    height: 75px;
    border-style: solid;
    border-left-color: orange;
    transition: 0.5s;
}
.container .box7 {
    background-color: #262b2b;
    border-color: #262b2b;
    width: 75px;
    height: 75px;
    border-style: solid;
    border-left-color: green;
    transition: 0.5s;
}
.container .box8 {
    background-color: #262b2b;
    border-color: #262b2b;
    width: 75px;
    height: 75px;
    border-style: solid;
    border-left-color: gray;
    transition: 0.5s;
}
.container .box9 {
    background-color: #262b2b;
    border-color: #262b2b;
    width: 75px;
    height: 75px;
    border-style: solid;
    border-left-color: purple;
    transition: 0.5s;
}
.container .box10 {
    background-color: #262b2b;
    border-color: #262b2b;
    width: 75px;
    height: 75px;
    border-style: solid;
    border-left-color: yellow;
    transition: 0.5s;
}
.container .box11 {
    background-color: #262b2b;
    border-color: #262b2b;
    width: 75px;
    height: 75px;
    border-style: solid;
    border-left-color: red;
    transition: 0.5s;
}
.container .box12 {
    background-color: #262b2b;
    border-color: #262b2b;
    width: 75px;
    height: 75px;
    border-style: solid;
    border-left-color: green;
    transition: 0.5s;
}
.container .box13 {
    background-color: #262b2b;
    border-color: #262b2b;
    width: 75px;
    height: 75px;
    border-style: solid;
    border-left-color: blue;
    transition: 0.5s;
}

.colors {
    max-width: 700px;
    display: grid;
    grid-gap: 5px 10px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: flex-start;
    padding: 0px 25px;
    margin: 0px 40px;
    color: #e7e4e3;
}

.colors .green::before {
    position: relative;
    top: 11px;
    right: 15px;
    display: block;
    content: '';
    background-color: green;
    width: 10px;
    height: 10px;
}

.colors .yellow::before {
    position: relative;
    top: 11px;
    right: 15px;
    display: block;
    content: '';
    background-color: yellow;
    width: 10px;
    height: 10px;
}

.colors .blue::before {
    position: relative;
    top: 11px;
    right: 15px;
    display: block;
    content: '';
    background-color: blue;
    width: 10px;
    height: 10px;
}

.colors .gray::before {
    position: relative;
    top: 11px;
    right: 15px;
    display: block;
    content: '';
    background-color: gray;
    width: 10px;
    height: 10px;
}

.colors .orange::before {
    position: relative;
    top: 11px;
    right: 15px;
    display: block;
    content: '';
    background-color: orange;
    width: 10px;
    height: 10px;
}

.colors .red::before {
    position: relative;
    top: 11px;
    right: 15px;
    display: block;
    content: '';
    background-color: red;
    width: 10px;
    height: 10px;
}

.colors .purple::before {
    position: relative;
    top: 11px;
    right: 15px;
    display: block;
    content: '';
    background-color: purple;
    width: 10px;
    height: 10px;
}

.colors div {
    font-size: 12px;
}

.image {
    padding-top: 250px;
    margin-right: 200px;
    max-width: 100%;
    /*height: 50%;*/
    display: flex;
}

.image img {
    width: 250px;
    max-width: 100%;
    max-height: 100%;
    filter: grayscale(100%);
    transition: 0.5s;
    transform: translate(-15px, -15px);
    border-radius: 5px;
}

.image .overlay {
    position: absolute;
    border: 2px solid #eab354;
    transition: 0.5s;
    transform: translate(15px, 15px);
    border-radius: 5px;
    margin-right: 20px;
}

.image .overlay:hover {
    transition: 0.5s;
    transform: translate(5px, 5px);
}

.image img:hover {
    filter: grayscale(40%);
    transition: 0.5s;
    transform: translate(-7px, -7px);
    opacity: 1;
}

/* experience section */

.experience-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 30px 20px 20px;
}

.experience-section h1 {
    /*padding: 10px 20px;*/
    margin-bottom: 20px;
}

.experience-section .thingsIBuilt {
    width: 100%;
    max-width: 700px;
}

.experience-section .thingsIBuilt h1 {
    font-size: 2vw;
}

.experience-section .thingsIBuilt h1::after {
    position: relative;
    display: block;
    content: '';
    display: block;
    background-color: #eab354;
    max-width: 100%;
    height: 1px;
}

.experience-section .experience {
    display: grid;
    grid-template-columns: 100%;
    max-width: 100%;
    margin: 20px;
    grid-row-gap: 2em;
}

.experience .abenson-brochure {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 10px;
}

.experience .abenson-brochure img {
    width: 100%;
    border-radius: 0px 5px 5px 0px;
    filter: grayscale(100%);
    transition: 0.5s;
}

.experience .abenson-brochure .desc {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 55% 15%;
    grid-row-gap: 2.5%;
}

.abenson-brochure .header {
    padding: 1em;
    background-color: #262b2b;
    border-radius: 5px 0px 0px 5px;
    font-size: 1vw;
}

.abenson-brochure .header h5 {
    font-size: 1.3vw;
}

.abenson-brochure .header h2 {
    font-size: 2vw;
    padding-top: 5px;
}

.abenson-brochure .container {
    padding: 1em;
    background-color: #262b2b;
    border-radius: 5px 0px 0px 5px;
    font-size: 1.2vw;
}

.abenson-brochure .techs-used {
    padding: 0.5em;
    background-color: #262b2b;
    border-radius: 5px 0px 0px 5px;
    font-size: 1vw;
    display: flex;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    list-style-type: none;
}
.abenson-brochure .techs-used p {
    padding: 0.5em;
}


.experience .capstone-2 {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 10px;
    grid-template-areas: "desc img";
}

.experience .capstone-2 img {
    width: 100%;
    border-radius: 5px 0px 0px 5px;
    grid-area: img;
    filter: grayscale(100%);
    transition: 0.5s;
}

.experience .capstone-2 .desc {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 35% 35% 25%;
    grid-row-gap: 2.5%;
    grid-area: desc;
}

.capstone-2 .header {
    padding: 1em;
    background-color: #262b2b;
    border-radius: 0px 5px 5px 0px;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    flex-wrap: flex-start;
}

.capstone-2 .header h5 {
    font-size: 1.3vw;
}

.capstone-2 .header h2 {
    font-size: 2vw;
    padding-top: 5px;
}

.capstone-2 .container {
    padding: 1em;
    background-color: #262b2b;
    border-radius: 0px 5px 5px 0px;
    font-size: 1.2vw;
}

.capstone-2 .techs-used {
    padding: 0.5em;
    background-color: #262b2b;
    border-radius: 0px 5px 5px 0px;
    font-size: 1vw;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    list-style-type: none;
}
.capstone-2 .techs-used p {
    padding: 0.5em;
}


.experience .capstone-3 {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 10px;
}

.experience .capstone-3 img {
    filter: grayscale(100%);
    width: 100%;
    border-radius: 0px 5px 5px 0px;
    transition: 0.5s;
}

.experience .capstone-3 .desc {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 45% 20%;
    grid-row-gap: 2.5%;
}

.capstone-3 .header {
    padding: 1em;
    background-color: #262b2b;
    border-radius: 5px 0px 0px 5px;
    font-size: 1vw;
}

.capstone-3 .header h5 {
    font-size: 1.3vw;
}

.capstone-3 .header h2 {
    padding-top: 5px;
    font-size: 2vw;
}

.capstone-3 .container {
    padding: 1em;
    background-color: #262b2b;
    border-radius: 5px 0px 0px 5px;
    font-size: 1.2vw;
}

.capstone-3 .techs-used {
    padding: 0.5em;
    background-color: #262b2b;
    border-radius: 5px 0px 0px 5px;
    font-size: 1vw;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    list-style-type: none;
}
.capstone-3 .techs-used p {
    padding: 0.5em;
}

.experience div img:hover {
    filter: grayscale(0%);
    transition: 0.5s;
}

.footer {
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Teko', sans-serif;
}

.footer .footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.5px;
    color: #e7e4e3;
}

.footer-section .gmail {
    color: #eab354;
    transition: 0.5s;
}

.footer-section .gmail:hover {
    color: #eab354;
    transform: translateY(-5px);
    transition: 0.5s;
    cursor: default;
    transition: 0.5s;
}

.footer .footer-section #pad {
    padding: 10px;
}

.footer-section .also {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-section .also .soc-meds {
    padding: 10px;
}

.footer-section .also .soc-meds a {
    padding: 1rem;
    font-size: 1.3rem;
    color: #eab354;
}

.footer-section .also .soc-meds .fab {
    transition: 0.5s;
}

.footer-section .also .soc-meds .fab:hover {
    transform: translateY(-5px) rotateY(360deg);
    transition: 0.5s;
}


.menu-btn {
    position: relative;
    left: -8%;
    display: none;
    justify-content: flex-end;
    align-items: center;
    width: 40px;
    height: 20px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.menu-btn_burger {
    width: 40px;
    height: 4px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 2px 0px #314e52;
    transition: all .5s ease-in-out;
    z-index: 3;  
}
.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 2px 0px #314e52;
    transition: all .5s ease-in-out;
}
.menu-btn_burger::before {
    transform: translateY(-16px);
}
.menu-btn_burger::after {
    transform: translateY(16px);
}

/* ANIMATION */

.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}


@media(min-width: 300px) and (max-width: 768px) {
    .menu-btn {
        display: flex;
    }
    .navbar-nav  {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #0d1011;
        top: 20%;
        left: 100%;
        text-align: center;
        z-index: 3;
        transition: all .5s;
    }

    #Nav {
        display: block;
    }
    
    #Nav a {
        font-size: 24px;
    }

    .navbar-nav.active {
        width: 100%;
        left: 0;
        z-index: 1;
    }
    body.active {
        overflow: hidden;
    }
}


@media (max-width: 769px) {
    .mainContainer {
        margin-top: 120px;
        margin-left: 5%;
        margin-right: 5%;
        height: 100%;
    }

    .mainContainer .introSection {
        padding-bottom: 25px;
    }

    .mainContainer .introSection .info {
        padding: 5px 30px;
    }

    .mainContainer .introSection .section {
        width: 80%;
    }

    .mainContainer .introSection #greet {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .mainContainer .introSection #name {
        font-size: 52px;
    }

    .mainContainer .introSection #say {
        font-size: 42px;
    }

    .mainContainer .introSection #par {
        font-size: 16px;
        margin-top: 10px;
    }

    /* about me */

    .aboutMe-section {
        margin: 0 auto;
        display: block;
        max-width: 85%;
        justify-content: center;
    }

    .aboutMe {
        padding: 80px 0px;
    }

    .aboutMe h1 {
        font-size: 21px;
        margin: 10px 0px;
        color: #e7e4e3;
        width: auto;
    }

    .aboutMe p {
        margin: 0;
        color: #5f787b;
        max-width: 700px;
    }

    .aboutMe .info {
        padding: 5px 10px;
        max-width: 700px;
        font-size: 16px;
    }

    .aboutMe-section .aboutMe .section .colors-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutMe-section .aboutMe .section .container {
        margin: 10px;
        display: flex;
        /*flex-direction: row;*/
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: flex-start;
        width: 100%;
    }

    .container div {
        margin: 3px;
    }
    .container img {
        height: 40px;
        width: auto;  
    }
    .container div .image-overlay {
        width: 65px;
        height: 65px;
        font-size: 10px;
    }

    .container div:nth-child(13) img {
        width: 55px;
        height: auto;
    }

    .container .box1 {
        width: 65px;
        height: 65px;
    }
    .container .box2 {
        width: 65px;
        height: 65px;
    }
    .container .box3 {
        width: 65px;
        height: 65px;
    }
    .container .box4 {
        width: 65px;
        height: 65px;
    }
    .container .box5 {
        width: 65px;
        height: 65px;
    }
    .container .box6 {
        width: 65px;
        height: 65px;
    }
    .container .box7 {
        width: 65px;
        height: 65px;
    }
    .container .box8 {
        width: 65px;
        height: 65px;
    }
    .container .box9 {
        width: 65px;
        height: 65px;
    }
    .container .box10 {
        width: 65px;
        height: 65px;
    }
    .container .box11 {
        width: 65px;
        height: 65px;
    }
    .container .box12 {
        width: 65px;
        height: 65px;
    }
    .container .box13 {
        width: 65px;
        height: 65px;
    }

    .colors div {
        font-size: 12px;
    }

    .image {
        padding: 0;
        margin: 0;
        opacity: 0;
    }

    /* experience section */

    .experience-section {
        margin: 40px 0px 0px 30px;
    }

    .experience-section h1 {
        /*padding: 10px 20px;*/
        margin-bottom: 20px;
    }

    .experience-section .thingsIBuilt {
        width: 100%;
        max-width: 700px;
    }

    .experience-section .thingsIBuilt h1 {
        font-size: 2vw;
    }

    .experience-section .thingsIBuilt h1::after {
        position: relative;
        display: block;
        content: '';
        display: block;
        background-color: #eab354;
        max-width: 100%;
        height: 1px;
    }

    .experience-section .experience {
        display: grid;
        grid-template-columns: 100%;
        max-width: 100%;
        margin: 20px;
        grid-row-gap: 2em;
    }

    .experience .abenson-brochure {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-column-gap: 10px;
    }

    .experience .abenson-brochure img {
        width: 100%;
        border-radius: 0px 5px 5px 0px;
        filter: grayscale(100%);
        transition: 0.5s;
    }

    .experience .abenson-brochure .desc {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% 55% 15%;
        grid-row-gap: 2.5%;
    }

    .abenson-brochure .header {
        padding: 1em;
        background-color: #262b2b;
        border-radius: 5px 0px 0px 5px;
        font-size: 1vw;
    }

    .abenson-brochure .header h5 {
        font-size: 1.3vw;
    }

    .abenson-brochure .header h2 {
        font-size: 2vw;
        padding-top: 5px;
    }

    .abenson-brochure .container {
        padding: 1em;
        background-color: #262b2b;
        border-radius: 5px 0px 0px 5px;
        font-size: 1.2vw;
    }

    .abenson-brochure .techs-used {
        padding: 0.5em;
        background-color: #262b2b;
        border-radius: 5px 0px 0px 5px;
        font-size: 1vw;
        display: flex;
        /*justify-content: space-between;*/
        /*align-items: center;*/
        list-style-type: none;
    }
    .abenson-brochure .techs-used p {
        padding: 0.5em;
    }


    .experience .capstone-2 {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-column-gap: 10px;
        grid-template-areas: "desc img";
    }

    .experience .capstone-2 img {
        width: 100%;
        border-radius: 5px 0px 0px 5px;
        grid-area: img;
        filter: grayscale(100%);
        transition: 0.5s;
    }

    .experience .capstone-2 .desc {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 35% 35% 25%;
        grid-row-gap: 2.5%;
        grid-area: desc;
    }

    .capstone-2 .header {
        padding: 1em;
        background-color: #262b2b;
        border-radius: 0px 5px 5px 0px;
        font-size: 1vw;
        display: flex;
        flex-direction: column;
        flex-wrap: flex-start;
    }

    .capstone-2 .header h5 {
        font-size: 1.3vw;
    }

    .capstone-2 .header h2 {
        font-size: 2vw;
        padding-top: 5px;
    }

    .capstone-2 .container {
        padding: 1em;
        background-color: #262b2b;
        border-radius: 0px 5px 5px 0px;
        font-size: 1.2vw;
    }

    .capstone-2 .techs-used {
        padding: 0.5em;
        background-color: #262b2b;
        border-radius: 0px 5px 5px 0px;
        font-size: 1vw;
        display: flex;
        flex-wrap: wrap;
        /*justify-content: space-between;*/
        /*align-items: center;*/
        list-style-type: none;
    }
    .capstone-2 .techs-used p {
        padding: 0.5em;
    }


    .experience .capstone-3 {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-column-gap: 10px;
    }

    .experience .capstone-3 img {
        filter: grayscale(100%);
        width: 100%;
        border-radius: 0px 5px 5px 0px;
        transition: 0.5s;
    }

    .experience .capstone-3 .desc {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30% 45% 20%;
        grid-row-gap: 2.5%;
    }

    .capstone-3 .header {
        padding: 1em;
        background-color: #262b2b;
        border-radius: 5px 0px 0px 5px;
        font-size: 1vw;
    }

    .capstone-3 .header h5 {
        font-size: 1.3vw;
    }

    .capstone-3 .header h2 {
        padding-top: 5px;
        font-size: 2vw;
    }

    .capstone-3 .container {
        padding: 1em;
        background-color: #262b2b;
        border-radius: 5px 0px 0px 5px;
        font-size: 1.2vw;
    }

    .capstone-3 .techs-used {
        padding: 0.5em;
        background-color: #262b2b;
        border-radius: 5px 0px 0px 5px;
        font-size: 1vw;
        display: flex;
        flex-wrap: wrap;
        /*justify-content: space-between;*/
        /*align-items: center;*/
        list-style-type: none;
    }
    .capstone-3 .techs-used p {
        padding: 0.5em;
    }

    .experience div img:hover {
        filter: grayscale(0%);
        transition: 0.5s;
    }
}